{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}
{{ 'newsletter-section.css' | asset_url | stylesheet_tag }}

{%- style -%}
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }

    @media screen and (min-width: 750px) {
      .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }

    /* Add grid container styling */
    .newsletter-grid-container {
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 2rem;
      text-align: left;
      align-items: start;

      @media screen and (max-width: 750px){
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: flex-start;
        .social-media-icons {
          justify-content:center;
          margin-top:2.5rem;
        }
      }

      .social-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
      }
    }

    .newsletter__subheading.rte {
      margin: 0;
  }


  h2.inline-richtext.h1 {margin-bottom: 1.5rem;}

  .social-info h2.inline-richtext.h2 {
     margin-bottom: 0;
        /* padding-top: 10rem; */

  }

  form#contact_form {
      margin-left: 0;
      margin-top: 1.5rem;
      @media screen and (width < 750px){
        justify-self: center;
      }
  }

  .social-icon svg {
    background-color: {{ section.settings.social_icon_bg }};
    fill: {{ section.settings.social_icon_color }};



    padding: 5px;
    border-radius: 6.4px;
    width:45px;
    height:45px;
  }

  .social-icon.instagram svg {
      fill:none;
      stroke: {{ section.settings.social_icon_color }};
  }

  .social-icon {
    height: 45px;
  }

  .social-media-icons {
      display: flex;
      justify-content: flex-start;
      gap: 2rem;
      align-items: center;
      width: 100%;
    }
  .social-icon {
      transition: opacity 0.3s ease;

  }
  .social-icon:hover {
    opacity: 0.7;
  }
  .form-disclaimer {
    position:absolute;
    top: 100%;
    font-size: .7em;
    --animation-order: inherit;
    padding-top: {{section.settings.disclaimer_padding_top}};


  }

  .newsletter-form {
    position:relative;

  }

  .h-captcha {
    display:none;
  }
{%- endstyle -%}

<div class="newsletter center {% if section.settings.full_width == false %}newsletter--narrow page-width{% endif %}">
  <div class="{% comment %}newsletter__wrapper{% endcomment %} color-{{ section.settings.color_scheme }} gradient content-container isolate{% if section.settings.full_width %} content-container--full-width{% endif %} section-{{ section.id }}-padding">
    <div class="newsletter-grid-container">
      <div>
        {%- for block in section.blocks -%}
          {%- case block.type -%}
            {%- when '@app' -%}
              {% render block %}
            {%- when 'heading' -%}
              <h2
                class="inline-richtext {{ block.settings.heading_size }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {{ block.shopify_attributes }}
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >
                {{ block.settings.heading }}
              </h2>
            {%- when 'paragraph' -%}
              <div
                class="newsletter__subheading rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                {{ block.shopify_attributes }}
                {% if settings.animations_reveal_on_scroll %}
                  data-cascade
                  style="--animation-order: {{ forloop.index }};"
                {% endif %}
              >
                {{ block.settings.text }}
              </div>
            {%- when 'email_form' -%}
              <div {{ block.shopify_attributes }}>
                {% form 'customer', class: 'newsletter-form' %}
                  <input type="hidden" name="contact[tags]" value="newsletter">
                  <div
                    class="newsletter-form__field-wrapper{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                    {% if settings.animations_reveal_on_scroll %}
                      data-cascade
                      style="--animation-order: {{ forloop.index }};"
                    {% endif %}
                  >
                    <div class="field">
                      <input
                        id="NewsletterForm--{{ section.id }}"
                        type="text"
                        name="contact[first_name]"
                        class="field__input"
                        value=""
                        autocorrect="off"
                        autocapitalize="off"
                        {% if form.errors %}
                          autofocus
                          aria-invalid="true"
                          aria-describedby="Newsletter-error--{{ section.id }}"
                        {% elsif form.posted_successfully? %}
                          aria-describedby="Newsletter-success--{{ section.id }}"
                        {% endif %}
                        placeholder="First name"
                      >
                      <label class="field__label" for="NewsletterForm--{{ section.id }}">First Name</label>
                      <style>
                        #contact_form,
                        #ContactFooter,
                        #ContactFooter > .newsletter-form__field-wrapper,
                        #contact_form > .newsletter-form__field-wrapper {
                          max-width: 500px;
                          width: 100%;
                          display: flex;
                          gap: 1rem;
                        }
                        @media (max-width: 749px) {
                          #ContactFooter > .newsletter-form__field-wrapper,
                          #contact_form > .newsletter-form__field-wrapper {
                            flex-direction: column;
                          }
                        }
                      </style>
                    </div>

                    <div class="field">
                      <input
                        id="NewsletterForm--{{ section.id }}"
                        type="text"
                        name="contact[last_name]"
                        class="field__input"
                        value=""
                        autocorrect="off"
                        autocapitalize="off"
                        {% if form.errors %}
                          autofocus
                          aria-invalid="true"
                          aria-describedby="Newsletter-error--{{ section.id }}"
                        {% elsif form.posted_successfully? %}
                          aria-describedby="Newsletter-success--{{ section.id }}"
                        {% endif %}
                        placeholder="Last name"
                      >
                      <label class="field__label" for="NewsletterForm--{{ section.id }}">Last Name</label>
                      <style>
                        #contact_form,
                        #ContactFooter,
                        #ContactFooter > .newsletter-form__field-wrapper,
                        #contact_form > .newsletter-form__field-wrapper {
                          max-width: 500px;
                          width: 100%;
                          display: flex;
                        }
                        @media (max-width: 749px) {
                          #ContactFooter > .newsletter-form__field-wrapper,
                          #contact_form > .newsletter-form__field-wrapper {
                            flex-direction: column;
                          }
                        }
                      </style>
                    </div>

                    <div class="field">
                      <input
                        id="NewsletterForm--{{ section.id }}"
                        type="email"
                        name="contact[email]"
                        class="field__input"
                        value="{{ form.email }}"
                        aria-required="true"
                        autocorrect="off"
                        autocapitalize="off"
                        autocomplete="email"
                        {% if form.errors %}
                          autofocus
                          aria-invalid="true"
                          aria-describedby="Newsletter-error--{{ section.id }}"
                        {% elsif form.posted_successfully? %}
                          aria-describedby="Newsletter-success--{{ section.id }}"
                        {% endif %}
                        placeholder="{{ 'newsletter.label' | t }}"
                        required
                      >
                      <label class="field__label" for="NewsletterForm--{{ section.id }}">
                        {{ 'newsletter.label' | t -}}
                        <span style="color: red;">*</span>
                      </label>
                      <button
                        type="submit"
                        class="newsletter-form__button field__button"
                        name="commit"
                        id="Subscribe"
                        aria-label="{{ 'newsletter.button_label' | t }}"
                      >
                        <span class="svg-wrapper">
                          {{- 'icon-arrow.svg' | inline_asset_content -}}
                        </span>
                      </button>
                    </div>
                    {%- if form.errors -%}
                      <small class="newsletter-form__message form__message" id="Newsletter-error--{{ section.id }}">
                        <span class="svg-wrapper">
                          {{- 'icon-error.svg' | inline_asset_content -}}
                        </span>
                        {{- form.errors.translated_fields.email | capitalize }}
                        {{ form.errors.messages.email -}}
                      </small>
                    {%- endif -%}
                  </div>
                  {%- if form.posted_successfully? -%}
                    <h3
                      class="newsletter-form__message newsletter-form__message--success form__message"
                      id="Newsletter-success--{{ section.id }}"
                      tabindex="-1"
                      autofocus
                    >
                      <span class="svg-wrapper">
                        {{- 'icon-success.svg' | inline_asset_content -}}
                      </span>
                      {{- 'newsletter.success' | t }}
                    </h3>
                  {%- endif -%}
                  <div class="form-disclaimer scroll-trigger animate--slide-in" data-cascade>
                    {{ section.settings.form_disclaimer }}
                  </div>
                {% endform %}
              </div>
          {%- endcase -%}
        {%- endfor -%}
      </div>

      <div class="social-info">
        <!-- 1fr grid column: Add content here if needed -->
        <h2 class="inline-richtext h2">
          {% comment %}Match left header style{% endcomment %}
          {{- section.settings.social_header }}
        </h2>
        <div class="newsletter__subheading rte">
          {% comment %}Match left subheading style{% endcomment %}
          {{- section.settings.social_subheader }}
        </div>
        <div class="social-media-icons">
          <a href="{{ section.settings.instagram_url }}" class="social-icon instagram" aria-label="Instagram">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="-0.5 -0.5 16 16"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="feather feather-instagram"
              id="Instagram--Streamline-Feather"
              height="16"
              width="16"
            >
              <path d="M4.375 1.25h6.25s3.125 0 3.125 3.125v6.25s0 3.125 -3.125 3.125H4.375s-3.125 0 -3.125 -3.125V4.375s0 -3.125 3.125 -3.125" stroke-width="1"></path>
              <path d="M10 7.106249999999999A2.5 2.5 0 1 1 7.893750000000001 5 2.5 2.5 0 0 1 10 7.106249999999999z" stroke-width="1"></path>
              <path d="m10.9375 4.0625 0.00625 0" stroke-width="1"></path>
            </svg>
          </a>
          <a href="{{ section.settings.facebook_url }}" class="social-icon" aria-label="Facebook">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              x="0px"
              y="0px"
              width="100"
              height="100"
              viewBox="0 0 30 30"
            >
              <path d="M12,27V15H8v-4h4V8.852C12,4.785,13.981,3,17.361,3c1.619,0,2.475,0.12,2.88,0.175V7h-2.305C16.501,7,16,7.757,16,9.291V11 h4.205l-0.571,4H16v12H12z"></path>
            </svg>
          </a>
          <a href="{{ section.settings.bluesky_url }}" class="social-icon" aria-label="Bluesky">
            <svg
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              height="24"
              width="24"
            >
              <path d="M12 10.8c-1.087 -2.114 -4.046 -6.053 -6.798 -7.995C2.566 0.944 1.561 1.266 0.902 1.565 0.139 1.908 0 3.08 0 3.768c0 0.69 0.378 5.65 0.624 6.479 0.815 2.736 3.713 3.66 6.383 3.364 0.136 -0.02 0.275 -0.039 0.415 -0.056 -0.138 0.022 -0.276 0.04 -0.415 0.056 -3.912 0.58 -7.387 2.005 -2.83 7.078 5.013 5.19 6.87 -1.113 7.823 -4.308 0.953 3.195 2.05 9.271 7.733 4.308 4.267 -4.308 1.172 -6.498 -2.74 -7.078a8.741 8.741 0 0 1 -0.415 -0.056c0.14 0.017 0.279 0.036 0.415 0.056 2.67 0.297 5.568 -0.628 6.383 -3.364 0.246 -0.828 0.624 -5.79 0.624 -6.478 0 -0.69 -0.139 -1.861 -0.902 -2.206 -0.659 -0.298 -1.664 -0.62 -4.3 1.24C16.046 4.748 13.087 8.687 12 10.8Z" stroke-width="1"></path>
            </svg>
          </a>
          <a href="{{ section.settings.pinterest_url }}" class="social-icon" aria-label="Pinterest">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              x="0px"
              y="0px"
              width="100"
              height="100"
              viewBox="0 0 50 50"
            >
              <path d="M25,2C12.3178711,2,2,12.3178711,2,25c0,9.8841553,6.2675781,18.3302612,15.036377,21.5769653	c-0.2525635-2.2515869-0.2129517-5.9390259,0.2037964-7.7243652c0.3902588-1.677002,2.5212402-10.6871338,2.5212402-10.6871338	s-0.6433105-1.2883301-0.6433105-3.1911011c0-2.9901733,1.7324219-5.2211914,3.8898315-5.2211914	c1.8349609,0,2.7197876,1.3776245,2.7197876,3.0281982c0,1.8457031-1.1734619,4.6026611-1.78125,7.1578369	c-0.506897,2.1409302,1.0733643,3.8865356,3.1836548,3.8865356c3.821228,0,6.7584839-4.0296021,6.7584839-9.8453369	c0-5.147583-3.697998-8.7471924-8.9795532-8.7471924c-6.1167603,0-9.7072754,4.588562-9.7072754,9.3309937	c0,1.8473511,0.7111816,3.8286743,1.6000977,4.9069824c0.175293,0.2133179,0.2009277,0.3994141,0.1488647,0.6160278	c-0.1629028,0.678894-0.5250854,2.1392822-0.5970459,2.4385986c-0.0934448,0.3944702-0.3117676,0.4763184-0.7186279,0.2869263	c-2.685791-1.2503052-4.364502-5.1756592-4.364502-8.3295898c0-6.7815552,4.9268188-13.0108032,14.206543-13.0108032	c7.4588623,0,13.2547607,5.3138428,13.2547607,12.4179077c0,7.4100342-4.6729126,13.3729858-11.1568604,13.3729858	c-2.178894,0-4.2263794-1.132019-4.9267578-2.4691772c0,0-1.0783081,4.1048584-1.3404541,5.1112061	c-0.4524536,1.7404175-2.3892822,5.3460083-3.3615723,6.9837036C20.1704712,47.6074829,22.5397949,48,25,48	c12.6826172,0,23-10.3173828,23-23C48,12.3178711,37.6826172,2,25,2z"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.newsletter.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.newsletter.settings.paragraph.content"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "t:sections.newsletter.settings.full_width.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    },
    {
      "type": "color",
      "id": "social_icon_color",
      "label": "Social icon color",
      "default": "#f6f4f2"
    },
    {
      "type": "color",
      "id": "social_icon_bg",
      "label": "Social icon background color",
      "default": "#181716"
    },
    {
      "type": "url",
      "id": "instagram_url",
      "label": "Instagram URL"
    },
    {
      "type": "url",
      "id": "facebook_url",
      "label": "Facebook URL"
    },
    {
      "type": "url",
      "id": "bluesky_url",
      "label": "Bluesky URL"
    },
    {
      "type": "url",
      "id": "pinterest_url",
      "label": "Pinterest URL"
    },
    {
      "type": "text",
      "id": "social_header",
      "label": "Social header",
      "default": "Follow Atmos"
    },
    {
      "type": "text",
      "id": "social_subheader",
      "label": "Social subheader",
      "default": "Tag Atmos in your social posts with the hashtag #atmosart"
    },
    {
      "type": "text",
      "id": "form_disclaimer",
      "label": "Form disclaimer",
      "default": "privacy policy"
    },
    {
      "type": "text",
      "id": "disclaimer_padding_top",
      "label": "Disclaimer Spacing",
      "default": "5px"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.newsletter.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.newsletter.blocks.heading.settings.heading.default",
          "label": "t:sections.newsletter.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            },
            {
              "value": "hxl",
              "label": "t:sections.all.heading_size.options__4.label"
            },
            {
              "value": "hxxl",
              "label": "t:sections.all.heading_size.options__5.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        }
      ]
    },
    {
      "type": "paragraph",
      "name": "t:sections.newsletter.blocks.paragraph.name",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "t:sections.newsletter.blocks.paragraph.settings.paragraph.default",
          "label": "t:sections.newsletter.blocks.paragraph.settings.paragraph.label"
        }
      ]
    },
    {
      "type": "email_form",
      "name": "t:sections.newsletter.blocks.email_form.name",
      "limit": 1
    },
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "t:sections.newsletter.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "paragraph"
        },
        {
          "type": "email_form"
        }
      ]
    }
  ]
}
{% endschema %}
